<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBTI Naive Bayes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
      .banner {
        width: 100%;
        background-color: #6482AD;
        color: white;
        padding: 20px 50px;
      }

      .questioner {
        padding: 10px 20px;
      }

      .question {
        margin-bottom: 2em;
      }

      .question::after {
        height: 2px;
        background-color: red;
      }

    </style>
  </head>
  <body>
    
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <div class="banner">
          <h1>Questioner MBTI</h1>
        </div>
        <div class="questioner">
          <form action="{{ url_for('predict') }}" method="post" enctype="application/x-www-form-urlencoded">
            {% for question in questions %}
              <div class="question">
                {% set outer_loop = loop %}
                {% if loop.index == 27 %}
                  <div class="alert alert-info" role="alert">
                    <p>Untuk Pertanyaan 27-50</p>
                    <p>Kata mana dari setiap pasangan yang lebih menarik bagi kamu? (pikirkan apa arti kata tersebut, bukan bagaimana bentuk atau bunyinya)</p>
                  </div>
                {% endif %}
                <label class="form-label">{{ question[0] }}</label>
                {% for option in question[1] %}
                   <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer[{{outer_loop.index0}}]" value="{{ option[0] }}" required>
                    <label class="form-check-label" for="flexRadioDefault1">
                      {{ option[0] }}. {{ option[1] }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>